<h2>Listes des Joueurs</h2>

<div class="div-select">
    <div class="input-group mb3">
        <select class="custom-select" [(ngModel)]="currentTeamSelected" (change)="filterCurrentPlayer()">
            <option value="0">Filtrer par equipe</option>
            <option *ngFor="let current_team of current_teams">{{current_team}}</option>
        </select>
        <select class="custom-select" [(ngModel)]="positionSelected" (change)="filterCurrentPlayers()">
            <option value="0">Filtrer par poste sur le terrain</option>
            <option *ngFor="let position of positions">{{position}}</option>
        </select>
    </div>
</div>

<table class="table table-bordered table stripped">
    <tr>
        <th>Id</th>
        <th>Photo</th>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Équipe actuelle</th>
        <th>Pays</th>
        <th>Position</th>

    </tr>

    <tr *ngFor="let player of playerFiltered">
        <td>{{ player.id }}</td>
        <td>
            <img class="player_picture" src="../../assets/img/players/{{player.picture}}" alt="{{player.first_name}}">
        </td>
        <td><a routerLink="/player/{{player.first_name}}">{{ player.first_name }}</a></td>
        <td>{{ player.last_name }}</td>
        <td>{{ player.current_team }}</td>
        <td>{{ player.country }}</td>
        <td>{{ player.position }}</td>

    </tr>
</table>