

<table class="table table-bordered table stripped">
    <tr>
        <th>Id</th>
        <th>Photo</th>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Équipe actuelle</th>
        <th>Pays</th>
        <th>Position</th>

    </tr>

    <tr *ngFor="let player of playerFiltered">
        <td>{{ player.id }}</td>
        <td>
            <img class="player_picture" src="../../assets/img/players/{{player.picture}}" alt="{{player.first_name}}">
        </td>
        <td><a routerLink="/player/{{player.first_name}}">{{ player.first_name }}</a></td>
        <td>{{ player.last_name }}</td>
        <td>{{ player.current_team }}</td>
        <td>{{ player.country }}</td>
        <td>{{ player.position }}</td>

    </tr>
</table>